body{
    background-color: bisque;
}
h1{
    
    color: chocolate;
    font-size: larger;
    font-weight: 700;
    padding: 30px 60px;
}
p{
    font-size: medium;
    margin: 30px;
    color: chocolate;
}
.button{
    width: 500px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#dodaj{
    padding: 10px;
    color: lightgreen;
}
#usun{
    padding: 10px;
    color: palevioletred;
}